@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Noto+Sans+JP:wght@300&display=swap');

/* variáveis cores */
:root{
    --pink: #9A275A;
    --pink-shadow: #FAAECF;
    --green: #475841;
    --light-green: #7EB09B;
    --not-white: #EEE5E9;
}

*{
    box-sizing: border-box;
}

/* fundo */
html, body {
    margin: 0;
    background: var(--green);
}

/* margem "olá" e japonês */
.title,.japones {
    margin: 0;
}

/* fonte corpo */
body, input, select, textarea {
    font-family: 'Lora', serif;
    color: var(--not-white);
    text-align: justify;
}

/* fonte título */
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-shadow: 1px 1px 7px var(--pink);
}

header .container .title{
    text-align: center;
}

/* font weight: gordura da fonte */
header .container .japones {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 29px;
    font-weight: 300;
    text-align: center;
}

/* contato email instagram */
button {
    position: relative;
    background: var(--not-white);
    border: 0;
    border-radius: 10px;
    /*padding: top right bottom left;*/
    padding: 8px 15px 8px 40px;
    color: #9A275A;
    font-size: 20px;
}

/* icons botões */
header .container button svg{
    position: absolute;
    color: #9A275A;
    top: 8px;
    left: 11px;
}

/* parte 1 */
header {
    /* background: #9A275A; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

/* responsividade logo */
header .container .logo{
    display: none;
}

.foto{
    border: 10px solid var(--light-green);
    background-color: #7EB09B;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.5);
}

/* menu */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 90px;
}

nav ul a {
    font-family: 'Montserrat';
    font-size: 32px;
    color: var(--not-white);
    text-decoration: none;
    margin: 0 35px;
}

/* about me */
.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 50px;
}

.about-me .container .title svg{
    position: relative;
    color: var(--pink);
    filter: drop-shadow(1px 1px 3px var(--pink-shadow));
    height: 40px;
    width: 40px;
    left: 180px;
    top: 10px;
}

.about-me .img-container{
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img{
    width: 70%;
    height: 100%;
    border: 10px solid var(--light-green);
    background-color: #7EB09B;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
}

/* serviços */
.servicos{
    position: relative;
    height: calc(100vh - 65px);
}

.servicos .title{
    text-align: center;
}

.servicos div{
    position: absolute;
    height: 354px;
    width: 290px;
    background: var(--pink);
    opacity: 0.5;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
    top: 80px;
}

.servicos .design{
    left: calc(25% - 145px);
}

.servicos .programa{
    left: calc(50% - 145px);
}

.servicos .sites{
    left: calc(75% - 145px);
}

.servicos svg{
    position: absolute;
    height: 250px;
    width: 250px;
    color: var(--light-green);
    top: 54px;
    left: 20px;
    opacity: 0.5;
}

.servicos .text{
    position: absolute;
    font-size: 23px;
    padding: 54px 25px 0 25px;
    z-index: 7;
    text-shadow: 1px 1px 3px black;
}

/* portfolio */
.portfolio{
    position: relative;
    height: calc(100vh - 65px);
}

.portfolio div{
    position: absolute;
    height: 400px;
    width: 300px;
    border: 4px solid var(--light-green);
    border-radius: 20px;
    top: 80px;
}

.portfolio .title{
    text-align: center;
}

.portfolio .p1{
    left: calc(25% - 150px);
}

.portfolio .p2{
    left: calc(50% - 150px);
}

.portfolio .p3{
    left: calc(75% - 150px);
}

.portfolio img{
    width: 290px;
}

.portfolio .legenda{
    font-size: 20px;
    padding: 0 20px 0 20px;
}

/* contato */
footer{
    position: relative;
    height: calc(70vh - 65px);
}

footer .title{
    color: var(--pink);
    text-shadow: 1px 1px 7px var(--pink-shadow);
    text-align: center;
    font-size: 48px;
}

footer .text{
    font-size: 28px;
    padding: 0 100px 0 100px;
    text-align: center;
}

footer button{
    position: absolute;
    padding: 8px 40px 8px 40px;
    font-size: 40px;
    left: calc(50% - 180px)
}

/* responsividade */
@media (max-width: 767px) {
    header .container {
        width: 100%;
    }

    header .container .logo {
        display: inline;
        height: 45px;
        margin-bottom: 20px;
    }

    nav img .logo{
        display: none;
    }
}

@media (max-width: 480px) {

    header .container {
        padding: 0 40px
    }
    
    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }
}