@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Noto+Sans+JP:wght@300&display=swap');

/* variáveis cores */
:root{
    --pink: #9A275A;
    --pink-shadow: #FAAECF;
    --green: #475841;
    --light-green: #7EB09B;
    --not-white: #EEE5E9;
}

*{
    box-sizing: border-box;
}

/* fundo */
html, body {
    margin: 0;
    background: var(--green);
}

/* margem "olá" e japonês */
h1,h2 {
    margin: 0;
}

/* fonte corpo */
body, input, select, textarea {
    font-family: 'Lora', serif;
    color: var(--not-white);
}

/* fonte título */
header .container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/* font weight: gordura da fonte */
header .container h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

/* contato email instagram */
button {
    position: relative;
    background: var(--not-white);
    border: 0;
    border-radius: 10px;
    /*padding: top right bottom left;*/
    padding: 8px 15px 8px 40px;
    color: #9A275A;
    font-size: 20px;
}

/* icons botões */
header .container button svg{
    position: absolute;
    color: #9A275A;
    top: 8px;
    left: 11px;
}

/* parte 1 */
header {
    /* background: #9A275A; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

/* responsividade logo */
header .container .logo{
    display: none;
}

/* menu */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 90px;
}

nav ul a {
    font-family: 'Montserrat';
    font-size: 32px;
    color: var(--not-white);
    text-decoration: none;
    margin: 0 35px;
}

@media (max-width: 767px) {
    header .container {
        width: 100%;
    }

    header .container .logo {
        display: inline;
        height: 45px;
        margin-bottom: 20px;
    }

    nav img .logo{
        display: none;
    }
}

@media (max-width: 480px) {

    header .container {
        padding: 0 40px
    }
    
    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container{
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img{
    width: 70%;
    height: 100%;
    border: 10px solid var(--light-green);
    background-color: #7EB09B;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
}

